@model TextField
@{ ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords; }


<div class="col-8 col-12-medium">

    <section>
        <div>
            <div class="row">
                <div class="col-2 col-6-medium col-12-small">
                    <ul class="link-list">
                        <li><a>@SharedResource["CName"]</a></li>
                        <li><a>@SharedResource["CAddress"]</a></li>
                        <li><a>@SharedResource["CPhone"]</a></li>
                        <li><a>@SharedResource["CMail"]</a></li>
                    </ul>
                </div>
                <div class="col-5 col-6-medium col-12-small">
                    <ul class="link-list">
                        <li><a href="#">@Config.CompanyName</a></li>
                        <li><a href="#">@Config.CompanyAddress</a></li>
                        <li><a href="#">@Config.CompanyPhone</a></li>
                        <li><a href="#">@Config.CompanyEmail</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>
