@model TextField
@{ string strTitle = SharedResource["ETitle"];
                ViewBag.Title = strTitle; }

<script src="~/js/ckeditor/ckeditor.js"></script>
<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="TextFields" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="CodeWord" />

            <div asp-validation-summary="All"></div>
            <div class="div-box row">
                <div class="fa-columns">
                    <label>@SharedResource["CName"]</label>
                    <input asp-for="CompanyName" />
                    <span asp-validation-for="CompanyName"></span>
                </div>
                <div class="fa-columns">
                    <label>@SharedResource["CNameGeo"]</label>
                    <input asp-for="CompanyNameGeo" />
                    <span asp-validation-for="CompanyNameGeo"></span>
                </div>
            </div>
            <div class="div-box">

            </div>
            <div class="div-box row">
                <div class="fa-columns">
                    <label>@SharedResource["CAddress"]</label>
                    <input asp-for="CompanyAddress" />
                    <span asp-validation-for="CompanyAddress"></span>
                </div>
                <div class="fa-columns">
                    <label>@SharedResource["CAddressGeo"]</label>
                    <input asp-for="CompanyAddressGeo" />
                    <span asp-validation-for="CompanyAddressGeo"></span>
                </div>
            </div>
            <div class="div-box">

            </div>
            <div class="div-box row">
                <div class="fa-columns">
                    <label>@SharedResource["CMotto"]</label>
                    <input asp-for="CompanyMotto" />
                    <span asp-validation-for="CompanyMotto"></span>
                </div>
                <div class="fa-columns">
                    <label>@SharedResource["CMottoGeo"]</label>
                    <input asp-for="CompanyMottoGeo" />
                    <span asp-validation-for="CompanyMottoGeo"></span>
                </div>
            </div>
            <div class="div-box">
                <label>@SharedResource["CMail"]</label>
                <input asp-for="CompanyEmail" />
                <span asp-validation-for="CompanyEmail"></span>
            </div>
            <div class="div-box">
                <label>@SharedResource["CPhone"]</label>
                <input asp-for="CompanyPhone" />
                <span asp-validation-for="CompanyPhone"></span>
            </div>
            <input type="submit" value=@SharedResource["Save"] />
        </form>
    </div>
</div>



<script>
    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
        newCKEdit.updateElement();
    }
</script>