@model ServiceItem
@{ string strTitle = SharedResource["Edit"];
    ViewBag.Title = strTitle;
    int st = Model.Status; }

<script src="~/js/ckeditor/ckeditor.js"></script>
<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleMainImagePath" />

            <div asp-validation-summary="All"></div>
            <div class="div-box row">
                <div class="fa-columns">
                    <label >@SharedResource["PNameEng"] </label>
                    <input asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="fa-columns">
                    <label>@SharedResource["PNameGeo"]</label>
                    <input asp-for="TitleGeo" />
                    <span asp-validation-for="TitleGeo"></span>
                </div>
            </div>
            <div class="div-box">

            </div>
            <div class="div-box row">
                <div class="fa-columns">
                    <label>@SharedResource["PShortInfoEng"]</label>
                    <input asp-for="Subtitle" />
                    <span asp-validation-for="Subtitle"></span>
                </div>
                <div class="fa-columns">
                    <label >@SharedResource["PShortInfoGeo"]</label>
                    <input asp-for="SubtitleGeo" />
                    <span asp-validation-for="SubtitleGeo"></span>
                </div>
            </div>
            <div class="div-box">

            </div>
            <div class="div-box">
                <label asp-for="Status">@SharedResource["Pstatus"]</label>
                <select asp-for="Status" asp-items="@GetStatusOptions(Model.Status)">
                </select>
                <span asp-validation-for="Status"></span>
            </div>
            <div class="div-box">
                <label class="form-check-label" asp-for="IsFavorit">
                    @SharedResource["AddMotto"]
                </label>
                <input asp-for="IsFavorit" class="form-check-input" type="checkbox" name="IsFavorit" value="true" id="IsFavorit">
                <span asp-validation-for="IsFavorit"></span>

            </div>
            <div class="div-box">
                <label >@SharedResource["PFullInfoEng"]</label>
                <textarea asp-for="Text"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="div-box">
                <label >@SharedResource["PFullInfoGeo"]</label>
                <textarea asp-for="TextGeo"></textarea>
                <span asp-validation-for="TextGeo"></span>
            </div>
            <div class="div-box">
                <p class="text-danger">
                    @ViewBag.MainImageFormatError
                </p>
                <label asp-for="TitleMainImagePath">@SharedResource["MainPhoto"]</label>
                <input type="file" name="titleMainImagePath" id="titleMainImagePath" />
                <div>
                    <img class="img-block" src="~/images/@Model.TitleMainImagePath" />
                </div>
            </div>
            <div class="div-box">
                <p class="text-danger">
                    @ViewBag.SecondImageFormatError
                </p>
                <label asp-for="TitleSecondImagePath">@SharedResource["SecondPhoto"]</label>
                <input type="file" name="titleSecondImagePath" id="titleSecondImagePath" />
                <div>
                    <img class="img-block" src="~/images/@Model.TitleSecondImagePath" />
                </div>
            </div>
            @*<div class="div-box">
                <label asp-for="MetaTitle"></label>
                <input asp-for="MetaTitle" />
                <span asp-validation-for="MetaTitle"></span>
            </div>
            <div class="div-box">
                <label asp-for="MetaDescription"></label>
                <input asp-for="MetaDescription" />
                <span asp-validation-for="MetaDescription"></span>
            </div>
            <div class="div-box">
                <label asp-for="MetaKeywords"></label>
                <input asp-for="MetaKeywords" />
                <span asp-validation-for="MetaKeywords"></span>
            </div>*@
            <input type="submit" value=@SharedResource["Save"] />
        </form>
    </div>
</div>



<script>
    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
        newCKEdit.updateElement();
        var newCKEditGeo = CKEDITOR.replace('@Html.IdFor(x=>x.TextGeo)');
        newCKEditGeo.updateElement();
    }
</script>

@functions { public SelectList GetStatusOptions(byte SelectedStatus)
    {
        var options = new List<SelectListItem> {
                new SelectListItem {Value = "1", Text = $"{SharedResource["Complete"]}"},
                new SelectListItem {Value = "2", Text = $"{SharedResource["Current"]}"},
                new SelectListItem {Value = "3", Text = $"{SharedResource["Planned"]}"}
                };
        foreach (var opt in options)
        {
            if (opt.Value ==SelectedStatus.ToString())
            {
                opt.Selected = true;
            }
        }
        return new SelectList(options, "Value", "Text");
    }
    }