@model IQueryable<ServiceItem>

@if (Model?.Any() == true)
{
    <section>

            <h2>@SharedResource["Top"]</h2>

        <ul class="small-image-list">
            @foreach (ServiceItem entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleMainImagePath" alt="" class="left" />
                    </a>
                    <h4>
                        @if (ViewBag.checkEng)
                        {
                            @entity.Title;
                        }
                        else
                        {
                            @entity.TitleGeo;
                        }
                    </h4>
                    <p>
                        @if (ViewBag.checkEng)
                        {
                            @entity.Subtitle;
                        }
                        else
                        {
                            @entity.SubtitleGeo;
                        }
                    </p>
                </li>
            }
        </ul>
    </section>
}