@model IQueryable<ServiceItem>
@{
    TextField textField = ViewBag.TextField;
    if (textField != null)
    {
        ViewBag.Title = textField.MetaTitle;
        ViewBag.Description = textField.MetaDescription;
        ViewBag.Keywords = textField.MetaKeywords;
    }

}

<div>
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (ServiceItem entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleMainImagePath" alt="" class="left" />
                    </a>
                    <h4>
                        @if (ViewBag.checkEng)
                        {
                            @entity.Title;
                        }
                        else
                        {
                            @entity.TitleGeo;
                        }
                    </h4>
                    <p>
                        @if (ViewBag.checkEng)
                        {
                            @entity.Subtitle;
                        }
                        else
                        {
                            @entity.SubtitleGeo;
                        }
                    </p>
                </li>
            }
        </ul>
    }
</div>