@model ServiceItem
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    <h2>
        @if (ViewBag.checkEng)
        {
            @Model.Title;
        }
        else
        {
            @Model.TitleGeo;
        }
    </h2>
    <h2>
        @if (ViewBag.checkEng)
        {
            @Model.Subtitle;
        }
        else
        {
            @Model.SubtitleGeo;
        }
    </h2>
    <div>
        <img class="img-block" src="~/images/@Model.TitleMainImagePath" />
    </div>
    <div>
        <img class="img-block" src="~/images/@Model.TitleSecondImagePath" />
    </div>
</div>
<div>
    @if (ViewBag.checkEng)
    {
        @Html.Raw(Model.Text)
    }
    else
    {
       @Html.Raw(Model.TextGeo)
    }
    
</div>